.UserPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.follow-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
}
