.UserPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#follow-area {
    display:flex; 
    justify-content: space-around;
    width: 60vw;
}