.RestaurantPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review {
    margin: 20px 0;
    width: 55vw;
    border-radius: 5px;
    border: 2px black solid;
    padding: 12px;
}

.review > div {
    display: flex;
    align-items: center;
}

.review > div > img {
    height: 50px;
    margin-right: 12px;
}
