.UsersPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px 0;
    height: 125px;
    width: 45vw;
    border-radius: 5px;
    border: 2px black solid;
    padding: 0 12px;
}

.user-button-area {
    display: flex;
    justify-content: flex-end;
}
